.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--slack-color);
    color: white;
}

.header__left{
    display: flex;
    align-items: center;
    flex: 0.3;
    margin-left: 20px;
}

.header__left > .MuiSvgIcon-root{
    margin-left:auto;
    margin-right: 30px
}

.header__center{
    flex: 0.4;
    background-color: #421f44;
    display: flex;
    align-items: center;
    padding: 0 50px;
    border: 1px gray solid;
    border-radius: 6px;
}

.header__center > input {
    background-color: transparent;
    border: none;
    text-align: center;
    min-width: 35vw;
    color: white;
}

.header__right{
    flex: 0.3;
    display: flex;
    align-items: flex-end;
}

.header__right > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 20px;
}